*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: blue;
}
div{
    background-color: crimson;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 100px;
    border: 6px dotted yellow;
}
h2{
    color: pink;
}