*{
    margin: 0;
    padding: 0;
}
.one{
    width: 500px;
    height: 500px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.two{
    width: 50%;
    height: 200px;
    background-color: palevioletred;
}
.three{
    width: 100px;
    height: 200px;
    background-color: indianred;
}